th{
    background-color:rgb(168, 230, 98);
    
}
table{
    border-collapse: collapse;
    background-color:rgb(196, 239, 116);
}
caption{
    background-color: greenyellow;
border-color: black;
color: white;
font-weight: bold;
}